@import url("https://fonts.googleapis.com/css?family=Charmonman|Raleway:300");

:root {
  --bg: #17143a;
  --accentuation: #56e39f;
  --accentuation-light: #d1f0e6;
  --text-basic: #fafafa;
  --other: #2e0e02;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  background-color: var(--bg);
  color: var(--text-basic);
}

/* Home page style */
.home-main {
  /* display: flex; */
  /* height: 70vh; */
  background-color: var(--bg);
  color: var(--text-basic);
  max-width: 600px;
  padding: 2rem;
  margin: 0 auto;
  justify-self: center;
  align-self: center;
}

.home-main h1 {
  font-size: 2rem;
  padding: 1rem 0rem;
  color: var(--accentuation);
  font-family: "Charmonman";
}
.home-main h2 {
  position: relative;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
}

.home-main h2::after {
  content: "_";
  color: transparent;
  border-bottom: 10px dotted var(--accentuation);
  position: absolute;
  top: 0px;
}

.home-main a {
  padding-bottom: 3px;
  text-decoration: none;
  color: var(--text-basic);
  transition: 0.3s color;
  border-bottom: 1px dotted var(--accentuation);
}
.home-main a:hover {
  color: var(--accentuation);
}

.header-title {
  font-size: 1.25rem;
  color: var(--accentuation);
  font-family: "Charmonman";
}
h2.home-title::after {
  content: "_";
  color: transparent;
  border-bottom: 10px dotted var(--accentuation);
  position: absolute;
  top: 0px;
}

h2 {
  font-size: 3rem;
  padding: 1rem 0rem;
}

p {
  padding: 0.5rem 0rem;
}

.home-footer {
  max-width: 600px;
  margin: auto;
  padding: 2rem 0;
  display: flex;
}

h4 {
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
}

.links {
  width: 50%;
  font: "Raleway";
}

p {
  line-height: 1.75rem;
  font-size: 1.2rem;
}

li {
  margin-bottom: 0.5rem;
}

nav {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}

a,
a:link,
a:hover,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}

a.link {
  padding-bottom: 3px;
  text-decoration: none;
  color: var(--text-basic);
  transition: 0.3s color;
  border-bottom: 1px dotted var(--accentuation);
}
a.link:hover {
  color: var(--accentuation);
}

a.link-primary {
  display: inline-block;
  padding-bottom: 3px;
  text-decoration: none;
  color: var(--text-basic);
  transition: 0.3s color;
  border-bottom: 3px dotted var(--accentuation);
}
a.link-primary:hover {
  color: var(--accentuation);
}

/**
 * Default content list (blog posts)
 */
main.default-list {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
}

main.default-list h1 {
  font-size: 2rem;
  margin: 0 0 2rem 0;
}

main.default-list h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
}
main.default-list > ul > li {
  padding: 0.5rem 0;
}

/**
 * Default article (blog post)
 */
article.default-article {
  color: black;
  background-color: white;
  max-width: 600px;
  margin: 0 auto;
  padding: 3rem 4rem;
}

article.default-article > h1 {
  font-size: 2rem;
  font-weight: bold;
}

article.default-article > p {
  font-size: 1rem;
  line-height: 1.5rem;
}
