<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">

	<!-- Blocks may include default content. -->
	<title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
	<link rel="stylesheet" href="/assets/style/reset.css">
	<link rel="stylesheet" href="/assets/style/style.css">
</head>

<body>
	{{ block "nav" . }}
	<nav>
		<div class="header-title">
			<a href="/">Guillaume Lodi</a>
		</div>
		<div>
			<a class="link-primary" href="/experiences">Experiences</a>
			-
			<a class="link-primary" href="/blog">Blog</a>
		</div>
	</nav>
	{{ end }}

	{{ block "main" . }}
	<!-- The part of the page that begins to differ between templates -->
	{{ end }}

	{{ block "footer" . }}
	<footer class="home-footer">
		<ul class="links">
			<li><a class="link-primary" alt="mail">Mail</a></li>
			<li><a class="link-primary" alt="twitter">Twitter</a></li>
			<li><a class="link-primary" alt="linkedln">Linkedln</a></li>
		</ul>
		<ul class="links">
			<li><a class="link-primary">Github</a></li>
			<li><a class="link-primary">Gitlab</a></li>
			<li><a class="link-primary">Discord</a></li>
		</ul>
	</footer>
	{{ end }}
</body>

</html>
