{{ define "main" }}
<main class="default-list">
	<article>
		<header>
			<h1>{{.Title}}</h1>
		</header>
		{{.Content}}
	</article>

	<ul>
		{{ range .Pages.GroupByDate "2006" }}
		<h3>{{ .Key }}</h3>
		{{ range .Pages }}
		<li>
			<a href="{{.Permalink}}" class="link">{{.Title}}</a> - {{.Date.Format "02/01/2006"}}
		</li>
		{{ end }}
		{{ end }}
	</ul>
</main>
{{ end }}
