{{ define "title" }}
{{ .Title }} - {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<article class="default-article">
	<p>Published on {{ .PublishDate.Format "2 Januray, 2006" }}.</p>
	<h1>{{ .Title }}</h1>
	{{ .Content }}
</article>
{{ end }}
