{{ define "nav" }}
<nav>
	<div class="header-title">
		<!-- <a href="/">G.L</a> -->
	</div>
	<div>
		<a class="link-primary" href="/experiences">Experiences</a>
		-
		<a class="link-primary" href="/blog">Blog</a>
	</div>
</nav>
{{ end }}


{{ define "main" }}
<div class="home-main">
	{{ .Content }}
</div>
{{ end }}
